{% extends "base.twig" %}

{% block content %}

<!-- Product -->
<div class="product">
    <header><h2><a href="{{ path_for('product_details', {"slug": product.slug }) }}">{{ product.title }}</a></h2></header>
    <section title="summary">{{ product.content.summaryText }}</section>
    <section title="description">{{ product.content.productDescription }}</section>
    <section title="price">{{ product.price.getFinalPrice() | moneyformat }}</section>

    <form action="/cart" method="post" id="addToCart">
        <input type="hidden" name="sku" value="{{ product.sku }}">
        <input type="hidden" name="name" value="{{ product.content.title }}">
        <input type="hidden" name="amount" value="{{ product.price.getFinalPrice().getAmount() }}">
        <input type="hidden" name="currency" value="{{ product.price.getFinalPrice().getCurrency() }}">
        <fieldset>
            Qty: <input type="text" name="qty" value="1" /><br />
            <input type="submit" value="add to cart" />
        </fieldset>
    </form>
</div>

{% endblock %}

{% block javascript %}
    <script>
        $( "#addToCart" ).submit(function( event ) {
            var unindexed_array =  $(this).serializeArray();
            var json = {};

            $.map(unindexed_array, function(n, i){
                json[n['name']] = n['value'];
            });

            var price = new Price( json.amount, json.currency);
            var cartItem = new CartItem( json.sku, json.qty, price, json.name);
            cart.add(cartItem);
            minicart.update(cart);

            event.preventDefault();
        });
    </script>
{% endblock %}