{% extends "base.twig" %}

{% block content %}

    <!-- Product -->
    <div class="product">
        <header><h2><a href="{{ path_for('product_details', {"slug": product.slug }) }}">{{ product.getExtension('frontend').getTitle() }}</a></h2></header>
        <section title="summary">{{ product.getExtension('frontend').getSummary() }}</section>
        <section title="description">{{ product.getExtension('frontend').getDescription()}}</section>
        <section title="price">{{ product.getExtension('cart').getPrice() | moneyformat }}</section>

        <form action="/cart" method="post" id="addToCart">
            <input type="hidden" name="sku" value="{{ product.sku }}">
            <input type="hidden" name="name" value="{{ product.getExtension('frontend').getTitle() }}">
            <input type="hidden" name="amount" value="{{ product.getExtension('cart').getPrice().getAmount() }}">
            <input type="hidden" name="currency" value="{{ product.getExtension('cart').getPrice().getCurrency() }}">
            <fieldset>
                Qty: <input type="text" name="qty" value="1" /><br />
                <input type="submit" value="add to cart" />
            </fieldset>
        </form>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $( "#addToCart" ).submit(function( event ) {
            var unindexed_array =  $(this).serializeArray();
            var json = {};

            $.map(unindexed_array, function(n, i){
                json[n['name']] = n['value'];
            });

            var price = new Price( json.amount, json.currency);
            var cartItem = new CartItem( json.sku, json.qty, price, json.name);
            cart.add(cartItem);
            minicart.update(cart);

            event.preventDefault();
        });
    </script>
{% endblock %}